*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 720px;
  background: #4db1d3;
}

body {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-family: Schoolbell, "Comic Sans", sans-serif;
  color: #fff;
}

p {
  margin: 0.75em 0;
}

p * {
  vertical-align: middle;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#display,
#control {
  position: absolute;
  width: 100%;
  text-align: center;
}

#display {
  position: relative;
  height: 230px;
  overflow: hidden;
  top: 200px;
}

h1 {
  display: inline-block;
  margin: 0;
  max-width: 640px;
  font-size: 108px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1.welcome {
  font-size: 48px;
}

#control {
  top: 440px;
}

.name {
  display: inline-block;
  width: 3.5em;
  margin: 3px;
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 5px;
  padding: 0.1em;
  text-align: center;
}

button,
input[type="number"] {
  margin: 0 5px;
  border: 3px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .2);
  padding: 0 20px;
  line-height: 2;
  border-radius: 6px;
  color: inherit;
}

button:focus,
input[type="number"]:focus {
  outline: none;
  border-color: rgba(255, 255, 255, .8);
}

input[type="file"] {
  cursor: pointer;
}

input[type="file"]:focus {
  outline: none;
}

button:not([disabled]):hover,
input[type="number"]:not([disabled]):hover {
  border-color: rgba(255, 255, 255, .8);
}

button:active,
input[type="number"]:active {
  border-color: #fff;
}

input[type="number"],
input[type="file"] {
  width: 120px;
  box-shadow: none;
}

button {
  border: 4px solid rgba(255, 255, 255, .5);
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

[v-show] {
  display: none;
}

input[type="file"] {
  margin: 0 5px;
}

input[type="file"]::-webkit-file-upload-button {
  margin: 0;
  width: 120px;
  border: 4px solid rgba(255, 255, 255, .5);
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 0 20px;
  line-height: 2;
  border-radius: 6px;
  color: inherit;
}

input[type="file"]::-webkit-file-upload-button:focus {
  outline: none;
  border-color: rgba(255, 255, 255, .8);
}

input[type="file"]:not([disabled]):hover::-webkit-file-upload-button {
  border-color: rgba(255, 255, 255, .8);
}

input[type="file"]::-webkit-file-upload-button:active {
  border-color: #fff;
}
